/* Med pseudo-klassen :root kan man deklarera
variabler med ett globalt scope, alltså att de
går att använda i alla CSS-regler. */

:root {
  /* Variabler namnges med två bindestreck i början av namnet. */
  --background-color-gray: #333;
  --primary-color: orange;
  --secondary-color: green;
  --default-margin: 1em;
}

body {
  /* För att hämta värdet av en variabel används funktionen var().*/
  background-color: var(--background-color-gray);
}

h1 {
  margin: var(--default-margin);
  color: var(--primary-color);
}

/*Man kan sätta om värdet på variabler i media queries.*/
@media screen and (max-width: 780px) {
  /*Här sätts lite mindre marginal på mindre skärmar.*/
  :root {
    --default-margin: 0.5em;
  }
}
